@import "../../scss/vars";

.search {
  max-width: 406px;
  width: 100%;
  position: relative;
  &__wrapper {
    position: relative;
    & > svg {
      font-size: 24px;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
    }
  }
  &__loading {
    & svg {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      height: 24px;
      width: 24px;
      fill: $orange;
    }
  }
  & input {
    font-size: 16px;
    font-family: Karla;
    width: 100%;
    background-color: #f5f6f8;
    padding: 22px 50px 22px 42px;
    &.author {
      background-color: #fff;
      border: 1px solid #ddd;
    }
  }
  &__result {
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    position: absolute;
    background: #fff;
    width: 100%;
    padding: 10px;
    top: 110%;
    left: 0;
    z-index: 1;
    max-height: 200px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px;
      background-color: #f9f9fd;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $orange;
      cursor: pointer;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      background-color: #f9f9fd;
    }
  }
}

@import "../../scss/media";
