@import "../../scss/mixins";

.filters {
  margin-right: 40px;
  min-width: 250px;
  max-width: 250px;
  font-family: Karla;
  &__item {
    &:not(:last-child) {
      @include adaptive-value("margin-bottom", 60, 40);
    }
  }
  &__show {
    display: none;
    position: absolute;
    top: 20px;
    right: 15px;
    background: none;
    font-size: 30px;
  }
}

@import "../../scss/media";
