@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Rambla:regular);
@import url(https://fonts.googleapis.com/css?family=Karla:regular,700);

@import "./scss/_normalize.scss";
@import "./scss/_mixins.scss";
@import "./scss/_vars.scss";
@import "./scss/custom.scss";

body {
  &.lock {
    overflow: auto;
  }
  &.modalLock {
    overflow: hidden;
  }
}

#root {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1330px;
  margin: 0px auto;
  padding: 0 15px;
}

.main {
  padding: 90px 0 80px;
  flex: 1 1 auto;
  background-color: #f5f6f8;
  position: relative;
}

@import "./scss/_media.scss";
